@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["BodyClass"] = "auth-body";
}

<div class="form-container" style="max-width: 480px;">
    <h1 class="form-title">Reset Your Password</h1>
    <hr />
    <form class="auth-form" asp-controller="Account" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />

        <input asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <input asp-for="Password" placeholder="New Password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <input asp-for="ConfirmPassword" placeholder="Confirm New Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <button type="submit" class="submit-btn">Reset</button>
    </form>
</div>